<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>


    <!--CSS-->
    <link rel="stylesheet" href="~/Content/css/Style01.css">
    <!--CSS-->
    <link rel="stylesheet" href="~/Content/css/Style02.css">
    <!--CSS-->
    <link rel="stylesheet" href="~/Content/css/cuentaHuesped.css">
    <!--Fuente-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">
    <!--Iconos-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CSS de Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


</head>
<body>
    @RenderBody()

    <script src="~/Content/js/scripts.js"></script>
</body>
</html>